{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<div class="d-flex container justify-content-between mt-5 mb-5">
<h2>Detail offre</h2>
<a href="{{ path('app_home') }}" class="btn btn-primary">Les offres</a>
</div>
<table class="table">
	<tbody>
		<tr>
			<th>Title</th>
			<td>{{ offre_emploi.title }}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{ offre_emploi.description | raw }}</td>
		</tr>
		<tr>
			<th>Salaire</th>
			<td>{{ offre_emploi.salaire }}</td>
		</tr>
		<tr>
			<th>DeletedAt</th>
			<td>{{ offre_emploi.deletedAt ? offre_emploi.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>UpdatedAt</th>
			<td>{{ offre_emploi.updatedAt ? offre_emploi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>ClosedAt</th>
			<td>{{ offre_emploi.closedAt ? offre_emploi.closedAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>IsPublish</th>
			<td>{{ offre_emploi.isPublish ? 'Yes' : 'No' }}</td>
		</tr>
		<tr>
			<th>IsPublishAt</th>
			<td>{{ offre_emploi.isPublishAt ? offre_emploi.isPublishAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>Slug</th>
			<td>{{ offre_emploi.slug }}</td>
		</tr>
	</tbody>
</table>

{% endblock %}

