<nav class="nav flex-column sidebar">
<a class="nav-link active" href="{{path('app_offre_emploi_index')}}">Offres d'emploi</a>
<h5>Parametres </h5>
<a class="nav-link " href="{{path('app_domaine_index')}}">Domaine rechereché</a>
<a class="nav-link" href="{{path('app_type_contrat_index')}}">Type de contrat</a>
<a class="nav-link" href="{{path('app_ville_index')}}">Ville</a>
<a class="nav-link" href="{{path('app_user_index')}}">Utilisateur</a>
</nav>
