{% extends 'base.account.html.twig' %}


{% block title %}Ville index{% endblock %}

{% block body %}
    <h1>Ville index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Zip</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.title }}</td>
                <td>{{ ville.zip }}</td>
                <td>{{ ville.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ ville.createdAt ? ville.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ville.slug }}</td>
                <td>
                    <a href="{{ path('app_ville_show', {'id': ville.id}) }}">show</a>
                    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ville_new') }}">Create new</a>
{% endblock %}
